<template data-controller-name="saom.com.samplemap.shwetang28.controller.View1">
    <div data-sap-ui-type="sap.m.App">
        <div data-sap-ui-type="sap.m.Page" data-title="{i18n>title}">
            <div data-sap-ui-aggregation="content" id="script-editor">
                <div >
                    <strong>Current Address:</strong> <input id="origin" readonly style="border: none;" autofocus=0><br>
                    <strong>Destination Address:</strong> <input id="destination" disabled ><br>
                    <strong>ETA:</strong> <input id="eta" editable="false"><br>
                    <strong>Distance:</strong> <input id="distance" editable="false"><br>
                    <strong>TS:</strong> <input id="TS" editable="false"><br>
                    <strong>lat:</strong> <input id="lat" editable="false"><br>
                    <strong>long:</strong> <input id="long" editable="false"><br>
                </div>
                <div id="map" style="width:20cm; height:20cm; margin-left:5cm"></div>
            </div>
        </div>
    </div>
</template>
